* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url("pics/pexels-joyston-judah-933054.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Navigation bar */

#navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#navbar::before {
    content: "";
    width: 120%;
    height: 95px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
}

#logo {
    margin: 2px 20px;
}

#logo img {
    height: 40px;
    margin: 4px 2px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style-type: none;
    font-size: 20px;
}

#navbar ul li a {
    color: rgb(255 84 84);
    display: block;
    background-color: rgb(55 55 55);
    border-radius: 10px;
    padding: 2px 15px;
    margin: 0px 5px;
    text-decoration: none;
    font-size: 12px;
}

#navbar ul li a:hover {
    background-color: rgb(100, 100, 100);
    display: block;
    padding: 2px 20px;
    border-radius: 20px;
}

#navbar .bt {
    /* position: absolute;
    right: 10px; */
    position: absolute;
    right: -140px;
    top: 50px;
}

#navbar .btn a {
    text-decoration: none;
    color: rgb(37, 241, 105);
}

#navbar .btn {
    margin: 0px 5px;
    padding: 5px 8px;
    background-color: black;
    color: chartreuse;
    cursor: pointer;
    flex-direction: column;
    font-size: 12px;
    animation-name: b;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes b {
    to {
        background-color: black;
        color: chartreuse;
    }
    from {
        border-radius: 15px;
        background-color: black;
        color: rgb(255, 255, 255);
        background-color: black;
        color: rgb(250, 3, 3);
    }
}


/* Section Bar */

#home {
    display: flex;
    flex-direction: column;
    height: 370px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    width: 150%;
    height: 450px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
}

#home h1 {
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 4px;
}

#home p {
    text-align: center;
    color: white;
    padding: 4px 5px;
    font-size: 10px;
}

#home .homebt a {
    text-decoration: none;
    color: white;
}

#home .homebt {
    padding: 4px 24px;
    margin: 5px 5px;
    border: 1px solid white;
    background-color: black;
    color: red;
    border-radius: 8px;
    cursor: pointer;
    animation-name: k;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes k {
    to {
        padding: 4px 24px;
        margin: 5px 5px;
        border: 1px solid white;
        background-color: black;
        color: red;
    }
    from {
        border-radius: 15px;
        padding: 5px 30px;
        margin: 8px 10px;
        border: 1px solid white;
        background-color: rgb(255, 254, 254);
        color: rgb(255, 255, 255);
    }
}

.center {
    text-align: center;
    color: white;
}

#service {
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
}

#service .box {
    border: 2px solid #e30303;
    padding: 30px;
    margin: 4px 6px;
    border-radius: 20px;
    background-color: #c9c9c9;
}

#service .box img {
    display: block;
    margin: auto;
    height: 40px;
}

#service .box .secondary {
    margin: 6px 0px;
    color: rgb(248, 49, 35);
}

#container h1 {
    margin: 6px;
}

#service p {
    color: black;
}

#client-section {
    margin: 8px 0px;
    position: relative;
    background-color: rgb(145 145 145 / 77%);
}

#client-section h1 {
    padding: 20px 0px;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.item {
    padding: 28px;
}

#clients img {
    height: 50px;
    display: block;
    margin: auto;
    background-color: #c7cbcd;
    border-radius: 20px;
    padding: 6px 12px;
}

#contact {
    height: 400px;
    color: white;
}

#contact h1 {
    padding: 26px 0px;
}

#contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact-box label {
    text-align: center;
    font-size: 20px;
    color: white;
}

#contact-box input {
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
    color: white;
    width: 125px;
    width: 250px;
    padding: 8px;
    margin: 15px auto;
    box-shadow: 0px 0px 4px rgb(12, 11, 11);
}

#contact-box .sb {
    padding: 5px 8px;
    background-color: tomato;
    color: white;
    cursor: pointer;
}

footer {
    height: 150px;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(8, 8, 27);
    color: white;
}

.menu ul li {
    list-style: none;
}

.menu ul li a img {
    height: 9px;
    margin: 2px -15px;
}

.cp {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}


/* utility classes */

.ll {
    background-color: rgb(5, 4, 4);
    color: rgb(253, 97, 97);
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 2px 10px;
}